.appartement {
    //background-image: linear-gradient(to top, #863535, #ff6060);
    border-radius: 1rem;
    flex-basis: 30%;
    display: grid;
    //align-items: end;
    min-width: 200px;
    min-height:200px;
    background-size: cover;
   
    position:relative;
   
    img {
        width :100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: rgb(149,157, 165,0.20) 0 8px 24px;
        filter:brightness(0.8);
 
    }

    & &_title {
        position:absolute;
        width : 50%;
        margin-inline-start: 0.5rem;
        margin-block-end: 0.5rem;
        color:white;
        bottom :4px;
        
      
    }
    
   
    @media screen and (width <= 768px) {
        .appartement{
    
            flex-basis: 100%;
                     
            
            
        }

       
        
    }
  
    

   /* .appartement_card_img {

        width :  100% ;     /*340px;
        height : 340px;      /*340px;
        border-radius: 10px;
        object-fit: cover;
    }*/
}



