.image_banner 
{ 
   margin-bottom: 2rem;    
   position: relative;
   .slide-compteur {
    position :absolute;
    width:100%;
    color :white;
    border-radius: 0 0 0 1rem;
    text-align: center;
    bottom: 1rem;
    font-weight: bold;
    
   }

   .btn
    {
  
    position :absolute;
    cursor:pointer;
    top: 0;
    bottom: 0;
    width:5rem;
    background-color: transparent;
    color:white;
    font-size: 2rem;
    border-width: 0;
    &:active
    &:focus {
      outline: none;
    }

    &.btn-next {
    right:0;
    }
    &.btn-previous {
    left: 0;
    }
   }

  .image_container {  
    position: relative;
    height: 20rem;
    width: 100%;


    img {
    position: absolute;
    inset: 0;
    height: 100%;
    width :100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: rgba(149, 157, 165 ,0.20) 0px 8px 24px;
    opacity: 0;
    transition:opacity 0.5s ease-in-out;

     &.show  {
        opacity:1;
    }
   
   
    }
}

 
    
}

